body {
    font-family: Helvetica Neue, Helvetica, Arial;
    color:#333;
}

.logo {
    font-size: 44px;
    margin:10px auto; width:800px;
}

.main {
    margin:10px auto; width:800px;
}

.main .nav {
    margin:10px 0; box-sizing: border-box;
}

.main .nav li {
    float: left; padding:10px 15px;  font-size: 16px;
    border-radius: 3px; border:1px solid #ccc; margin:5px;
    cursor: pointer;
}

.main .nav li.active {
    background: #0b97c4; color:#fff; border-color:#0b97c4;
}

.stage {
    margin-top:20px; box-sizing: border-box;
}

.stage ul[contenteditable=true] {
    outline: none;
    border:1px solid #ccc;
    border-radius: 3px;
    padding:15px;
    background: #eee;
    box-sizing: border-box;
    width:600px;
}

.stage .add-more-hosts{
    padding:5px 15px; background: #fff; border-radius: 3px; margin-top:10px;
    border:1px solid #ccc; outline: none;
}

.stage .group {
    margin:10px 0;
}