body {
    font-family :Monospace, Helvetica Neue, Helvetica, Arial;
    -webkit-font-smoothing:antialiased;
    color:#333;
}

.logo {
    font-size: 44px;
    margin:10px auto; width:800px;
}

.forkMe {
    background: #eeeeee url(../favicon.png) 2px no-repeat;
    border: 1px solid #ccc;
    padding: 5px 7px 5px 25px;
    border-radius: 3px;
    outline: none;
    background-size: 18px;
    display: inline-block;
    position: absolute;
    top:10px; left:10px;
}

.main {
    margin:10px auto; width:800px;
}

.main .nav {
    margin:10px 0; box-sizing: border-box;
}

.main .nav li {
    float: left; border-radius: 3px; border:1px solid #ccc; margin:5px; cursor: pointer;
}

.main .nav li a {
    color:#333; text-decoration: none; display: block; width:80px; height:40px; text-align: center; line-height: 40px;
    font-size: 14px;
}

.main .nav li.active {
    background: #0b97c4; border-color:#0b97c4;
}

.main .nav li.active a {
    color:#fff;
}

.stage {
    margin-top:20px; box-sizing: border-box; background: #fff;
}

.update-info {
    position: fixed; left:0; top:0; bottom:0; right:0; margin:auto; width:400px; height:300px;
    background: #fff; border:1px solid #ccc; border-radius: 3px; box-shadow: 2px 1px 10px #ccc;
    text-align: center; display: none;
}

.update-info p {
    text-align: center; padding:10px 0;
}

.update-info ul {
    text-align: left; padding:10px; box-sizing: border-box;
    line-height: 32px; width:300px; word-wrap: break-word;
    margin:auto; height:200px; overflow-y: auto;
}

.update-info ul li {}

.update-info .iKnow {
    text-align: center; border:1px solid #ccc; border-radius: 3px; background: #008800;
    color:#fff; width:120px; height:35px; font-size: 14px; outline: none;
}