body {
    font-family: Helvetica Neue, Helvetica, Arial;
    -webkit-font-smoothing:antialiased;
    color:#333;
}

.logo {
    font-size: 44px;
    margin:10px auto; width:800px;
}

.main {
    margin:10px auto; width:800px;
}

.main .nav {
    margin:10px 0; box-sizing: border-box;
}

.main .nav li {
    float: left; padding:10px 15px;  font-size: 16px;
    border-radius: 3px; border:1px solid #ccc; margin:5px;
    cursor: pointer;
}

.main .nav li.active {
    background: #0b97c4; color:#fff; border-color:#0b97c4;
}

.stage {
    margin-top:20px; box-sizing: border-box;
}

.stage .hosts-list {
    outline: none;
    border:1px solid #ccc;
    border-radius: 3px;
    padding:15px;
    background: #eee;
    box-sizing: border-box;
    width:600px;
    min-height: 65px;
    float: left;
    line-height: 22px;
}

.stage .hosts-group .hosts-func {
    float: left; width:100px;
}

.stage .hosts-group .hosts-func li {
    padding:6px 7px; text-align: center; border:1px solid #ccc; background: #fff;
    border-radius: 3px; margin:0 0 5px 10px; cursor: pointer; font-size: 14px;
}

.stage .hosts-group .hosts-func li.banOrPick {
    background: #c33; color:#fff; border-color:#c33;
}

.stage .hosts-group .hosts-func li.delete {
}

.stage .add-more-hosts{
    padding:5px 15px; background: #fff; border-radius: 3px; margin-top:10px;
    border:1px solid #ccc; outline: none;
}

.stage .group {
    margin:10px 0;
}

.stage .group .title {
    font-size:18px; font-weight: 600; margin-bottom:10px; color:#999;
    display: table; padding:5px; box-sizing: border-box;
    clear: both;
}

.system-prompt {
    background: #000; border-radius: 3px; opacity: 0.7;
    position: absolute; top:0; bottom:0; left:0; right:0; margin:auto;
    width:260px; height:60px; line-height: 60px; text-align: center; color:#fff;
    display: none; font-size:18px;
    font-weight: bold;
}