.stage .hosts-list {
    width:600px;
    outline: none;
    border:1px solid #ccc;
    border-radius: 3px;
    padding:15px;
    box-sizing: border-box;
    background: #f3f3f3;
    min-height: 76px;
    float: left;
    line-height: 22px;
}

.stage .hosts-list.ban {
   text-decoration: line-through;
    color:#ccc;
}

.stage .hosts-group .hosts-func {
    float: left; width:100px;
}

.stage .hosts-group .hosts-func li {
    text-align: center; border:1px solid #ccc; background: #fff;
    border-radius: 3px; margin:0 0 5px 10px; cursor: pointer; font-size: 14px;
    height:35px; line-height: 35px;
}

.stage .hosts-group .hosts-func li.banOrPick {
    background: #c33; color:#fff; border-color:#c33;
}

.stage .hosts-group .hosts-func li.banOrPick.ban {
    background: #008800; border-color:#008800;
}

.stage .hosts-group .hosts-func li.delete {
}

.stage .add-more-hosts{
    padding:5px 15px; background: #fff; border-radius: 3px; margin-top:10px;
    border:1px solid #ccc; outline: none;
}

.stage .group {
    margin:10px 0;
}

.stage .group .title {
    font-size:18px; font-weight: 600; margin-bottom:10px; color:#999;
    display: table; padding:5px; box-sizing: border-box;
    clear: both;
}

.system-prompt {
    background: #006600; border-radius: 3px; opacity: 0.7;
    position: absolute; top:0; bottom:0; left:0; right:0; margin:auto;
    width:260px; height:60px; line-height: 60px; text-align: center; color:#fff;
    display: none; font-size:18px;
    font-weight: bold;
}

.system-prompt.warning {
    background: #cc0000;
}