.plugin-box {
    width:1000px; height:770px;
    z-index: 999; margin:auto; border:1px solid #ccc; border-radius: 3px; background: #fff;
}

.plugin-box .plugin-first-line {
    width:950px; height: 35px; margin:20px auto; clear: both;
}

.plugin-box .plugin-first-line .pluginName {
    outline: none; padding:7px 10px; width: 50%;
    border-radius: 3px; border:1px solid #ccc; background: #2c2c2c; color:#fff;
    font-size: 16px; float: left;
}

.plugin-box .plugin-first-line .get-other-script {
    float: left; position: relative; margin-left:10px; font-size:14px;
    text-align: center; 
}

.plugin-box .plugin-first-line .script-title {
    background: #EF7645; color:#fff; border-radius: 3px; padding:7.5px 10px; cursor: pointer;
    box-sizing:border-box; 
}

.plugin-box .plugin-first-line .great-script {
    padding: 6px; border-radius: 3px; outline: none;
    border: 1px solid #ccc; margin-top:10px;
    background-color: #fff; position: absolute;
    z-index: 9999; width:146px; display: none;
}

.plugin-box .plugin-first-line .great-script li {
    height:30px; line-height: 30px; cursor: pointer;
}

.plugin-box .plugin-first-line .great-script li:hover {
   background: #EF7645; color:#fff;
}


.plugin-box .plugin-code-area {
    width:950px; margin:auto; border:1px solid #ccc; clear: both;
}

.plugin-box .plugin-code-area > .pluginCode .pluginResult {
    float: left; text-align: left;
}

.plugin-box .code-run-wrap {
    margin:5px; text-align: right;
}

.plugin-box .code-run-wrap .code-run, .plguin-btn-wrap button {
    width:100px; height:35px; margin-right:20px;
    text-align: center; border-radius: 3px; border:1px solid #ccc;
    outline: none; background: #fff;
}

.plugin-box .code-run-wrap .code-run {
    background: #008800; color:#fff; font-size: 14px;
}

.plugin-box .pluginResult {
    width:950px; margin:auto; border:1px solid #ccc;
}

.plguin-btn-wrap {
    margin:5px; text-align: right;
}